---
import HeaderLink from './HeaderLink.astro';
import {Image, Picture} from '@astrojs/image/components';
import {SITE_CONFIG, SITE_TITLE} from '../consts';
import {Icon} from 'astro-icon'
---

<header class="backdrop-blur">
    <div class="flex justify-between items-center max-w-7xl max-h-24 mx-auto sm:px-8 px-4">
        <a href="/" class="flex items-center py-4" title="Go Home">
            <Image
                    src={SITE_CONFIG.header.icon}
                    format="jpg"
                    width="40"
                    height="40"
                    alt={SITE_CONFIG.header.title}
                    class="rounded-lg h-10 w-10 mr-3"
            />
            <div aria-label="title"
                 class="hidden sm:block sm:w-[100px] text-transparent bg-clip-text bg-gradient-to-r from-just-light to-just-dark mt-2">
                    <span class="logo-title font-bold text-2xl">
                        {SITE_CONFIG.header.title}
                    </span>
            </div>
        </a>
        <div class="flex items-center">
            <nav aria-label="Main Menu" class="opacity-75">
                <ul class="flex lg:space-x-4 lg:mr-10 sm:space-x-2 space-x-1 md:mr-7 items-center">
                    {SITE_CONFIG.links.map(link =>
                            <li>
                                <HeaderLink href={link.url}
                                            class="!inline-flex items-center group font-semibold"
                                            title={"Visit" + +link.title + "Page"}>
                                    {(isActive) =>
                                            <div class:list={[isActive ? 'bg-just-light/20 text-just-dark' : '', 'md:px-3 md:py-2 px-1 py-1 rounded']}>
                                                {
                                                    link.icon ?
                                                            <Icon
                                                                    v-if="link.icon"
                                                                    name="link.icon"
                                                                    class:list={
                                                                        ["hidden sm:inline-block md:mr-2 mb-1 transition opacity-75 group-hover:opacity-100",
                                                                            isActive ? 'opacity-100' : 'opacity-75'
                                                                        ]
                                                                    }
                                                            /> :
                                                            <></>
                                                }
                                                {link.title}
                                            </div>
                                    }
                                </HeaderLink>

                            </li>
                    )}
                </ul>
            </nav>
            <!--                <div class="md:space-x-2 space-x-1 flex items-center">-->
            <!--                </div>-->
        </div>
    </div>
</header>
<style>
    header {
        border-style: none;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 50;
    }

    .logo-title {
        font-family: f1Font-Bold, serif;
    }
</style>
